//TEXT STYLING
$title-font: 'Righteous', cursive; //font-family: 'Righteous', cursive;
$main-font: 'Cabin', sans-serif; //font-family: 'Cabin', sans-serif;

//COLOURS
$white-Icon-Text: hsla(23, 15%, 95%, 1);
$white-input-background: hsla(23, 15%, 95%, .8);
$header-shadow: hsla(360, 5%, 0%, .6);
$icon-blue: hsla(195, 95%, 25%, .5);
$blue-Title: hsla(195, 95%, 25%, 1);
$pale-blue-background-header: hsla(210, 38%, 86%, .5);
$text-color-home:hsla(195, 5%, 15%, 1);
$card-background:hsla(195, 95%, 25%, 0.9);



%input {
  font-size: 1.5rem;
  background-color:$white-input-background;
}

body {
  margin: 0;
  background-image: url(../images/honghong.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.hidden {
  display: none !important;
}

.moblie {
  display: none !important;
}

.logo {
  border-radius: 20%;
  height: 10rem;
  width: auto;
}

.logo-section {
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 0.5rem;
}

.icon {
  height: 3rem;
  width: auto;
}

.header-section {
  text-align: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: $header-shadow;
  background-image: url(../images/lakeboat.jpg);
  background-repeat: repeat no-repeat;
}

.header-text-section {
  grid-column-start: 2;
  grid-column-end: 5;
  font-family: $title-font;
  font-size: 1.6rem;
  align-self: center;
  color: $blue-Title;
  background-color: $pale-blue-background-header;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.icon-section {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  place-content: space-around;
}

.nav-btn{
  align-items: center;
  background: $icon-blue no-repeat;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0px;
  justify-content: center;
  margin: 1%;
  outline: none;
  overflow: hidden;
  text-align: center;
  transition: .4s ease;
  width: 5rem;
  border-radius: 20%;
  border-color: $blue-Title;
  border-style: outset;

  &:hover {
  color: $white-Icon-Text;
  font-size: .9rem;
  text-shadow: 0px 2px 4px $header-shadow;
  transition: .4s ease;
}
}

// main-login

.main-login {
  position: relative;
  display: flex;
  align-items: center;
  place-content: center;
  z-index: 10;
}

.login-entry{
  position: absolute;
  text-align: center;
  font-family: $main-font;
  color: $white-Icon-Text;
  font-size: 1.8rem;
  padding: 1rem;
  background-color:$header-shadow;
  border-color: $icon-blue;
  border-style: inset;
  border-radius: 1rem;
}

.username {
  @extend %input;
}

.password {
  @extend %input;
}
.login-button {
  @extend %input;
  border-radius: 1rem;
}

.whole-filter-section {
  background-color: $header-shadow;
  opacity: 100%;
  overflow: auto;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

// home

.home {
  text-align: center;
  font-family: $main-font;
  margin: 8rem;
  font-size: 1.5rem;
  background-color: $white-input-background;
  border-radius: 1rem;
  padding: 2rem;
  color: $text-color-home;
}


.home-input-form {
  margin-bottom: 1rem;
  font-family: $main-font;
  font-size: 1.2rem;
  cursor: pointer;
}

.home-input {
  padding-right: 1rem;
  font-size: 2rem;
  color: $text-color-home;
}


.start-date-title {
  font-size: 2rem;
}

.calender {
  font-family: $main-font;
  font-size: 1.2rem;
  cursor: pointer;
}

.submit-trip {
  cursor: pointer;
  background-color: $blue-Title;
  color: $white-Icon-Text;
  padding: 0.5rem;
  border-radius: 1rem;
}

.submit-estimate {
  font-size: 1.28rem;
  @extend .submit-trip;
}


// cards

.populated-trip-image {
  size: 10rem;
  width: 29rem;
  height: 27rem;
  padding: 1rem;
  border-radius: 3rem;
}

.trip-cards {
  display: flex;
  flex-direction: row-reverse;
  background: $card-background;
  margin: 1rem;
  border-radius: 1rem;
  justify-content: space-around;
}

.page-title-text{
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0;
  background: $card-background;
  color: $white-Icon-Text;
  text-align: center;
  align-self: center;
  font-family: $main-font;
  font-size: 1.5rem;
  padding: 1rem;
}

.trip-card-text {
  align-self: center;
  font-family: $main-font;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  color: $white-Icon-Text;
  background-color: $header-shadow;
}

.no-populated {
  background: $card-background;
  text-align: center;
  padding: 3rem;
  @extend .trip-card-text
}
